 

<p>
  <strong>Pkcolor:</strong>
  <%= @colore.PKCOLOR %>
</p>

<p>
  <strong>Col descripcion:</strong>
  <%= @colore.COL_DESCRIPCION %>
</p>

<%= link_to 'Edit', edit_colore_path(@colore) %> |
<%= link_to 'Back', colores_path %>
