 

<p>
  <strong>Pkmarca:</strong>
  <%= @marca.PKMARCA %>
</p>

<p>
  <strong>Mar descripcion:</strong>
  <%= @marca.MAR_DESCRIPCION %>
</p>

<%= link_to 'Edit', edit_marca_path(@marca) %> |
<%= link_to 'Back', marcas_path %>
